/ResumeData
/GeneratedResumes
personal-information.txt
personal-resume-instructions.txt
clipboard.html
/AcornDepot/Cache
hoard.json
/AcornDepot/Stashboard/queue
resume-data-vector-store.txt
job-listing.md
remix-resume-instructions.txt
remix-resume.html
save-session-id-instructions.txt
/SessionIds
/Cache
/Stashboard/queue/errors

.claude
