/ResumeData
/GeneratedResumes
personal-information.txt
custom-resume-instructions.txt
/AcornDepot/Cache
hoard.json
resume-data-vector-store.txt
job-listing.md
remix-resume-instructions.txt
remix-resume.html
save-session-id-instructions.txt
/SessionIds
/Cache
/Config
/Stashboard/queue/
.claude
